{% extends 'base.html' %}

{% block title %}Records{% endblock %}

{% block content %}

<h1>Records Record</h1>

<form class="search_bar" method="get">
  <input class="input" type="text" name="title" placeholder="title">
  <input type="submit" value="Search">
</form>
<div class="all_records">
  <h2>All Records</h2>
    {% for record in records %}
    <div class="record_card">
      <h3>{{record.title}}</h3>
      <p>
      {{record.artist}}
      {{record.year}}  
      <img src="{{record.img}}" alt="{{record.title}}">
      </p>
    </div>
    {% endfor %}
</div>

{% endblock %}